/* Header.css */

/* Header background */
.header {
    background-color: #13274F; /* Dark Navy */
    color: white;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

/* Title styling */
.header-title {
    color: white;
    font-weight: bold;
    font-size: 24px;
    flex-grow: 1;
}

/* Button styling for Home button */
.header-button {
    color: white; /* Ensures text in the button is white */
    text-decoration: none;
    font-size: 16px;
}
